/target
**/target/
.cargo/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.env
.env.vectorize
.venv
.DS_Store
logs/
ml_model/
ml_models/
other/*
.user.yml
profiles.yml
dist/
*.egg-info/
python/local_embed.py
scripts/embed_local.py
